{% load static %}
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{# <link rel="stylesheet" href="{% static "vendor/css/jquery.dataTables.min.css" %}"> #}

<style type="text/css">
    .navbar-brand {
        font-family: 'Satisfy', cursive;
    }

    .navbar {
        border-radius: 0;
    }

    body {
        padding-top: 70px;
        background: white url({% static "images/background.png" %});
    }

</style>